@model List<ApplicationCore.Models.MovieCardModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>TOP Grossing Movies</h2>
@foreach (var movie in Model)
{
    <h3>Movie Id: @movie.Id</h3>
    <h3>Movie Title: @movie.Title</h3>
    <h3>Movie Poster: <img src=@movie.Posterurl alt="Poster Url: @movie.Posterurl"></img></h3>
    
}