<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand" style="margin:auto 1em;">MovieShopSPA</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="''">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'Movies'">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'Genres'">Genres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'Reviews'">Reviews</a>
            </li>
            <li>
                <p>
                    isLoggedIn={{isLoggedIn}};
                    isAdmin={{isAdmin}};
                </p>
            </li>
        </ul>
    </div>
    <div class="text-end" *ngIf="!isLoggedIn">
        <a class="btn btn-outline-secondary me-2" [routerLink]="'Account/Login'">Login</a>
        <a class="btn btn-outline-secondary me-2" [routerLink]="'Account/Register'">Sign up</a>
    </div>
    <div class="text-end" *ngIf="isLoggedIn && !isAdmin">
        <div class="dropdown show">
            <a class="btn btn-outline-light text-dark me-2 dropdown-toggle shadow-none" role="button"
                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi,
                {{currentUser.given_name + ' '
                +currentUser.family_name}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Movies <i class="fa fa-film"></i></a>
                <a class="dropdown-item" href="#">Favorites <i class="fa fa-star"></i></a>
                <a class="dropdown-item" href="#">Accounts <i class="fa fa-user-circle"></i></a>             
                <a class="dropdown-item" (click)="Logout()">Log Out <i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>
    <div class="text-end" *ngIf="isLoggedIn && isAdmin">
        <div class="dropdown show">
            <a class="btn btn-outline-light text-dark me-2 dropdown-toggle shadow-none" role="button"
                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi,
                {{currentUser.given_name + ' '
                +currentUser.family_name}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Movies <i class="fa fa-film"></i></a>
                <a class="dropdown-item" href="#">Favorites <i class="fa fa-star"></i></a>
                <a class="dropdown-item" href="#">Accounts <i class="fa fa-user-circle"></i></a>
                <a class="dropdown-item" [routerLink]="'Admin/createMovie'">Admin <i class='fa fa-users'></i></a>               
                <a class="dropdown-item" (click)="Logout()">Log Out <i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>
</nav>