<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand" style="margin:auto 1em;">MovieShopSPA</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="''">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'Movies'">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'Genres'">Genres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'Reviews'">Reviews</a>
            </li>
        </ul>
    </div>

    <div class="text-end" *ngIf="!isLoggedIn">
        <a class="btn btn-outline-secondary me-2" [routerLink]="'Account/Login'">Login</a>
        <a class="btn btn-outline-secondary me-2" [routerLink]="'Account/Register'">Sign up</a>
    </div>
    <div class="text-end" *ngIf="isLoggedIn">
        <div class="d-flex justify-content-around">
            <p>Hi, {{currentUser.given_name + ' ' + currentUser.family_name}}</p>
            <a class="btn btn-outline-secondary me-2" (click)="Logout()">Logout</a>
        </div>
    </div>
</nav>