.menu {
    background-image: url("bg.jpg");
}

.content {
    background-color: #eeeeee;
    padding: 10px auto;
}

.content_body {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2em;
}

h3 {
    padding-top: 60px;
    padding-bottom: 20px;
}

.feature{
    background-color: white;
    width: 240px;
    max-height: 450px;
}
.flexed{
    display: flex;
}

.features{
    background-color: #eeeeee;
    padding: 10px;
    gap:20px;
}

.feature img{
    width: 200px;
}
.indicators{
    margin-top: 0;
}

.gaps{
    gap: 10px;
}