<div class="btn-group btn-group-sm m-3" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="ShowTopRated()">Top Rated</button>
    <button type="button" class="btn btn-secondary" (click)="ShowTopGrossing()">Top Grossing</button>
</div>
<div class="rounded" *ngIf="Grossingvisible">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-lg-3 col-sm-4 col-xl-2" *ngFor="let movie of Grossingmovies">
                <div class="card mb-4">
                    <img src="{{ movie.posterUrl }}" alt="{{ movie.title }}" class="img-fluid rounded" />
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm ">
                <li class="page-item">
                    <button type="button" class="page-link text-dark" (click)="DecreasePageNumber()"
                    [disabled]="pageNumber<=1">&laquo;</button>
                </li>
                <li class="page-item"><button class="page-link  text-dark" (click)="DecreasePageNumber()"
                    [disabled]="pageNumber<=1">{{pageNumber-1}}</button></li>
                <li class="page-item"><a class="page-link text-muted" aria-disabled="true">{{pageNumber}}</a></li>
                <li class="page-item"><button class="page-link  text-dark" (click)="IncreasePageNumber()"
                    [disabled]="Grossingmovies.length != 30">{{pageNumber+1}}</button></li>
                <li class="page-item">
                    <button type="button" class="page-link  text-dark" (click)="IncreasePageNumber()"
                    [disabled]="Grossingmovies.length != 30">&raquo;</button>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="rounded" *ngIf="Ratedvisible">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-lg-3 col-sm-4 col-xl-2" *ngFor="let movie of Ratedmovies">
                <div class="card mb-4">
                    <img src="{{ movie.posterUrl }}" alt="{{ movie.title }}" class="img-fluid rounded" />
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm ">
                <li class="page-item">
                    <button type="button" class="page-link text-dark" (click)="DecreasePageNumber()"
                    [disabled]="pageNumber<=1">&laquo;</button>
                </li>
                <li class="page-item"><button class="page-link  text-dark" (click)="DecreasePageNumber()"
                    [disabled]="pageNumber<=1">{{pageNumber-1}}</button></li>
                <li class="page-item"><a class="page-link text-muted" aria-disabled="true">{{pageNumber}}</a></li>
                <li class="page-item"><button class="page-link  text-dark" (click)="IncreasePageNumber()"
                    [disabled]="Ratedmovies.length != 30">{{pageNumber+1}}</button></li>
                <li class="page-item">
                    <button type="button" class="page-link  text-dark" (click)="IncreasePageNumber()"
                    [disabled]="Ratedmovies.length != 30">&raquo;</button>
                </li>
            </ul>
        </nav>
    </div>
</div>