<div class="container-fluid">
    <button type="button" class="btn btn-outline-success" [routerLink]="'addGenre'" 
    style="
    margin-left:80%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;">Add New Genre</button>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of genres; index as i">
                <td>{{g.id}}</td>
                <td>{{g.name}}</td>
                <td class="d-flex flex-row gap-3"> 
                    <a type="button" class="text-primary" (click)="getMoviesByGenre(g.id)" [routerLink]="['MovieByGenre/',g.id]">Movies</a>
                    <a type="button" class="text-danger" (click)="deleteGenre(g.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>