<div class="container-fluid"  style="padding-bottom: 2em;">
    <div class="alert alert-primary" role="alert" *ngIf="deleteFlag">
        Genre Deleted Successfully!
    </div>
    <input type="button" class="btn btn-outline-secondary" value="Add" [routerLink]="'addGenre'" />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of genres; index as i">
                <td scope="row">{{i+1}}</td>
                <td>{{g.id}}</td>
                <td>{{g.name}}</td>
                <td> <input type="button" class="btn btn-link" value="Movies" (click)="getMoviesByGenre(g.id)" [routerLink]="['MovieByGenre/',g.id]" /> &emsp; &emsp; <input type="button" class="btn btn-link" value="Delete" (click)="deleteGenre(g.id)" /> </td>
            </tr>
        </tbody>
    </table>
</div>