.row {
    height: 100px;
}

.subrow {
    height: 100%;
    width:100%;
}

.right {
    text-align: right;
    align-items: center;
}

.middle{
    text-align: center;
    align-items: center;
}

body, .container{
    margin: 40px auto;
    width: 350px;
}

button, .middle,.right {
    height: 100%;
    width: 100%;
}